@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sacrament Meetings</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Sacrament Meeting Planner</h2>
        <p>
            This is the final project for CIT365.
        </p>
    </div>
</div>