@page
@model MegaDesk.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.CustomerName" class="control-label"></label>
                <input asp-for="DeskQuote.CustomerName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label">Width</label>
                <input asp-for="Desk.Width" class="form-control" />
                <span asp-validation-for="Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label">Depth</label>
                <input asp-for="Desk.Depth" class="form-control" />
                <span asp-validation-for="Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.NumberOfDrawers" class="control-label">Number of Drawers</label>
                <input asp-for="Desk.NumberOfDrawers" class="form-control" />
                <span asp-validation-for="Desk.NumberOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesktopMaterial.ID" class="control-label">Desk Material</label>
               <select asp-for="DesktopMaterial.ID" name="Material" id="selectDesktopID">
                  <option value="add">Add</option>
               </select>
            @* <div class="form-group">
                <label asp-for="DeskQuote.FinalPrice" class="control-label"></label>
                <input asp-for="DeskQuote.FinalPrice" class="form-control" />
                <span asp-validation-for="DeskQuote.FinalPrice" class="text-danger"></span>
            </div> *@
                <input type="hidden" asp-for="DeskQuote.DeskID" class="form-control" />
            @* <div class="form-group">
                <label asp-for="DeskQuote.DaysToComplete" class="control-label">Shipping</label>
               <select asp-for="DeskQuote.DaysToComplete" asp-items="Model.Days">
            <option value="">All</option>
        </select>
            </div> *@

            @Html.DropDownList("daysToCompleteList", new List<SelectListItem> {
               new SelectListItem{ Text="14 days (standard)", Value = "14" },
               new SelectListItem{ Text="7 days (rush)", Value = "7" },
               new SelectListItem{ Text="5 days (rush)", Value = "5" },
               new SelectListItem{ Text="3 days (rush)", Value = "3" }
            }) 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}