@page
@model MegaDesk.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.CustomerName" class="control-label"></label>
                <input asp-for="DeskQuote.CustomerName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskWidth" class="control-label">Width</label>
                <input asp-for="DeskWidth" class="form-control" />
                <span asp-validation-for="DeskWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskDepth" class="control-label">Depth</label>
                <input asp-for="DeskDepth" class="form-control" />
                <span asp-validation-for="DeskDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskNumberOfDrawers" class="control-label">Number of Drawers</label>
                <input asp-for="DeskNumberOfDrawers" class="form-control" />
                <span asp-validation-for="DeskNumberOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskDesktopMaterialID" class="control-label">Desk Material</label>
               <select asp-for="DeskDesktopMaterialID" name="Material" id="selectDesktopID">
                  <option value="oak">Oak</option>
                  <option value="laminate">Laminate</option>
                  <option value="pine">Pine</option>
                  <option value="rosewood">Rosewood</option>
                  <option value="veneer">Veneer</option>
               </select>
            @* <div class="form-group">
                <label asp-for="DeskQuote.FinalPrice" class="control-label"></label>
                <input asp-for="DeskQuote.FinalPrice" class="form-control" />
                <span asp-validation-for="DeskQuote.FinalPrice" class="text-danger"></span>
            </div> *@
                <input type="hidden" asp-for="DeskQuote.DeskID" class="form-control" />
            <div class="form-group">
                <label asp-for="DeskQuote.DaysToComplete" class="control-label">Shipping</label>
               <select asp-for="DeskQuote.DaysToComplete" name="Days to Complete" id="selectDaysToComplete">
                  <option value="14">14 days (standard shipping)</option>
                  <option value="7">7 days (rush order)</option>
                  <option value="5">5 days (rush order)</option>
                  <option value="3">3 days (rush order)</option>
               </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}